* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #003060;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.nav-links a {
  color: #fff;
}
.logo {
  font-size: 32px;
}
.menu {
  display: flex;
  font-size: 18px;
}
.menu li:hover {
  background-color: #003060;
  border-radius: 5px;
  transition: 5s ease-in-out;
}
.menu li {
  padding: 5px 14px;
}
.services {
  position: relative;
}
.dropdown {
  background-color: #003060;
  padding: 1em 0;
  position: fixed;
  display: none;
  border-radius: 50px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 500px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #003060;
}
.services:hover .dropdown {
  display: block;
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #003060;
    right: 0;
    left: 0;
    top: 67;
    text-align: center;
    padding: 16px 50;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #003060;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 100px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #001f54;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #001f54;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #001f54;
}

.navbar_avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 100%;
  width: 40px;
  height: 40px;
}
