<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found - Universe List</title>
  <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/navbar.ejs") %>
<br><br><br>
<center>
  <h4 style="font-size: 50;margin-top: 75px;"><b>Bot Deleted</b></h4>
  <p>Your bot has been deleted from our site.</p>
  <a href="/">
    <button style="margin:5px" class="errorhome"><i class="fa-solid fa-house-chimney"></i> Home</button>
    </div></a>
  <a href="/discord">
    <button class="errordiscord"><i class="fa-brands fa-discord"></i> Discord</button></a>
  </div></a>
</center>

<style>
  .four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;

  }
</style>