<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
  <title>Certification - Universe List</title>
  <%- include ("../parts/head.ejs") %>
</head>
<%- include ("../parts/navbar.ejs") %>
  <br><br><br><br>
  <div class="page-container">
    <div class="container">
      <div class="md" id="md">
        <h2 class="heading"><b>Universe List - Certification</b></h2>
        <br><br>
        <h4>Requirements:</h4>
        <p>
        <ul>
          <li>Your bot must follow Discord's <a style="color: #094cdb" target="__blank" href="https://discord.com/guidelines"> Guidelines</a> and <a style="color: #094cdb" target="__blank" href="https://discord.com/terms"> Terms of Service</a>.</li>
          <li>Your bot must be on the list for at least <code>14 days</code>.</li>
          <li>Your bot must have at least <code>25 votes</code> at the time of applying.</li>
          <li>Your bot must have at least <code>150 servers</code> at the time of applying.</li>
          <li>Your bot must be verified by Discord, and have the verified badge.</li>
          <li>Your bot must have a support server.</li>
          <li>Your bot should be 100% original and not forked from another bot.</li>
          <li>Your bot should follow <a style="color: #094cdb" target="__blank" href="https://github.com/meew0/discord-bot-best-practices"> Best practices for Discord bots</a>.</li>
        </ul>
        </p><br>
        <h4>How to Apply for Certification:</h4>
        <p>
        <ol>
          <li>Make sure you're logged in, and then go to your bot's page.
          </li>
          <li>Click the "Certify" button, and then fill out the form.</li>
          <li>Wait for some time until the bot is approved.</li>
        </ol>
        </p><br>
      </div>
    </div>
  </div>
  <br><br>

  <style>

    code {
      color: #b85785;
    }
     .heading {
      text-align: center;
    }
  </style>
  <%- include("../parts/footer.ejs") %>