

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms - Universe List</title>
  <%- include ("../parts/head.ejs") %>
</head>
<%- include ("../parts/navbar.ejs") %>
<br><br><br><br>
<div class="page-container">
  <div class="content-wrap">
  </div>
</div>
<br><br><br><br><br><br>
<%- include("../parts/footer.ejs") %>