<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>503 Service Unavailable - Universe List</title>
  <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/navbar.ejs") %>

<center>
  <h2 style="margin-top: 100px;"><b>503 Service Unavailable:</b></h2>
  <p style="color:white;font-size: 15">We're terribly sorry, But we're down for maintenanace. Check our Discord Server for updates!</p><br>
  <a href="/discord">
    <button class="errorhome"><i class="fa-brands fa-discord"></i> Discord</button>
    </div></a>
  <a href="/auth/login">
    <button class="errordiscord"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</button></a>
</center>