
<footer class="footer">
  <br>
  <center>
    <p>Copyright © 2023 Universe List, All Rights Reserved.</p>
    <a style="color: #094cdb" href="/">Home</a> |
    <a style="color: #094cdb" href="/discord">Discord Server</a> |
    <a style="color: #094cdb" href="/terms">Terms of Service</a> |
    <a style="color: #094cdb" href="/privacy">Privacy Policy</a><br></p>
    <small>Created with ❤️ by <a target="_blank" href="https://ishaantek.com">Ishaan Garg</a></small><br><br>
<a target="blank" href="https://www.dmca.com/Protection/Status.aspx?ID=bc44e7b0-9a6b-406c-a718-96a6a0801bc4&refurl=https://universe-list.xyz/"
  title="DMCA.com Protection Status" class="dmca-badge"> <img
    src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-10.png?ID=bc44e7b0-9a6b-406c-a718-96a6a0801bc4"
    alt="DMCA.com Protection Status" /></a>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </center>
</footer>