
<footer class="footer">
  <br>
  <center>
    <p>Copyright © 2022 Universe List, All Rights Reserved.</p>
    <a style="color: #094cdb" href="/">Home</a> |
    <a style="color: #094cdb" href="/partners">Partners</a> |
    <a style="color: #094cdb" href="/terms">Terms of Service</a> |
    <a style="color: #094cdb" href="/policy">Privacy Policy</a><br></p>
    <a href="//www.dmca.com/Protection/Status.aspx?ID=478e23f6-820e-4f8c-8d11-479a139043dd" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=478e23f6-820e-4f8c-8d11-479a139043dd" alt="DMCA.com Protection Status" /></a>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </center>
</footer>