<nav class="navbar navbar-expand-lg navbar-dark dark">
  <a class="navbar-brand" href="/"
    ><img
      draggable="false"
      src="/img/icon.png"
      style="height: 50px; width: 50px; border-radius: 50%; margin-left: 150px"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"
          ><i class="fa-solid fa-house-chimney"></i>&nbsp;Home<span
            class="sr-only"
            >(current)</span
          ></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bots"
          ><i class="fa-solid fa-robot"></i>&nbsp;Bots</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/servers"
          ><i class="fa-solid fa-server"></i>&nbsp;Servers</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tags"
          ><i class="fa-solid fa-hashtag"></i>&nbsp;Tags</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="fa-solid fa-ellipsis"></i>&nbsp;More</a
        >
        <div
          class="dropdown-menu"
          style="
            background-image: radial-gradient(
              circle 325px at 19.2% 64.8%,
              #003060 9.7%,
              rgba(12, 33, 90, 0.964) 91.3%
            );
            border-radius: 8px;
          "
        >
          <div class="btn-group-vertical">
            <a class="dropdown-item" href="/team" style="color: white">
              <i class="fa-solid fa-user-group"></i>&nbsp;&nbsp;Our Team
            </a>
            <div class="btn-group-vertical">
              <a
                class="dropdown-item"
                href="/bot-requirements"
                style="color: white"
              >
                <i class="fa-solid fa-robot"></i>&nbsp;&nbsp;Bot Requirements
              </a>
              <a class="dropdown-item" href="/partners" style="color: white">
                <i class="fa-solid fa-handshake"></i>&nbsp;&nbsp;Partners
              </a>
              <a class="dropdown-item" href="/docs" style="color: white">
                <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;API Docs
              </a>
              <a
                class="dropdown-item"
                target="blank"
                href="https://status.universe-list.xyz/"
                style="color: white"
              >
                <i class="fa-solid fa-signal"></i>&nbsp;&nbsp;Status Page
              </a>
              <a
                target="_blank"
                class="dropdown-item"
                href="/discord"
                style="color: white"
              >
                <i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
      <li class="nav-item dropdown" style="margin-right: 150px">
        <a
          class="nav-link dropdown-toggle pl-3 pr-3 mr-3 btn btn-primary"
          style="
            background-image: radial-gradient(
              circle 325px at 19.2% 64.8%,
              #003060 9.7%,
              rgba(12, 33, 90, 0.964) 91.3%
            );
            border-radius: 8px;
          "
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          ><img
            class="right"
            draggable="false"
            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?"
            width="35"
            height="35"
            style="border-radius: 100%"
          />&nbsp;&nbsp;<%= user.username %></a
        >
        <div
          class="dropdown-menu"
          style="
            background-image: radial-gradient(
              circle 325px at 19.2% 64.8%,
              #003060 9.7%,
              rgba(12, 33, 90, 0.964) 91.3%
            );
            border-radius: 8px;
          "
        >
          <a class="dropdown-item" href="/users/<%= user.id %>" style="color: white;">
            <i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Profile
          </a>
          <a class="dropdown-item" href="/bots/new" style="color: white;">
            <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add Bot
          </a>
          <a class="dropdown-item" href="/servers/new" style="color: white;">
            <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add Server
          </a>
          <a class="dropdown-item" onclick="logout()" style="cursor: pointer; color: white;">
            <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout
          </a>
          <% if(config.staff.includes(user.id)) { %>
          <div class="dropdown-divider"></div>
          <a style="color: white" class="dropdown-item" href="/queue"
            ><i class="fa fa-bars mr-1"></i>Queue</a
          >
          <% } %>
        </div>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a
          style="border-radius: 8px; margin-top: 3px"
          onclick="popUp()"
          class="btn btn-primary"
          ><i class="fa-solid fa-sign-in-alt"></i>&nbsp;&nbsp;Login via
          Discord</a
        >
      </li>
      <% } %>
    </ul>
  </div>
  <hr />
</nav>

<script>
  function toggleTheme(theme) {
    localStorage.setItem("theme", theme);
    location.reload();
  }
  function popUp() {
    Swal.fire({
      title: "Logging in via Discord..",
      html: `Would you like to join our Discord server upon login?`,
      icon: "question",
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: "Yes",
      denyButtonText: `No`,
    }).then((result) => {
      const from = window.location.pathname;
      const path = result.isConfirmed
        ? "/auth/login/joinSupport"
        : "/auth/login";
      window.location.replace(`${path}?from=${from}`);
    });
  }
  function logout() {
    const from = window.location.pathname;
    const path = "/auth/logout";
    window.location.replace(`${path}?from=${from}`);
  }
</script>
